@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('SF Pro Display'), url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('SF Pro Display'), url('../fonts/SF-Pro-Display-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('SF Pro Display'), url('../fonts/SF-Pro-Display-Semibold.woff2') format('woff2');
}